{% extends "layout.html" %}

{% block title %}chai Page{% endblock %}

{% block content %}
    <h1 class="text-4xl">All types of chai</h1>

    <div class='flex flex-row gap-4 m-4'> 

        {% for chai in chais  %}
        <div class="bg-teal-800 rounded-md flex flex-col items-center p-4">
            <img class='h-40 rounded-md shadow-2xl' src="{{chai.image.url}}" alt="">
            <h3 class='text-sm m-3 font-semibold' >{{chai.name}}</h3>

            <a href="{% url 'chai_desc' chai.id %}">
                <button 
                 class=' bg-orange-600 text-white
                   hover:bg-orange-700  border-none 
                    w-40
                   rounded-sm'>
                    {{chai.type}} - {{chai.id}}
                </button>
            </a>
        </div>
        
        {% endfor %}
    </div>
   
{% endblock %}

